/craft/config
/craft/modules
/craft/storage
/craft/vendor
/craft/.env
/craft/.env.example
/craft/composer.json
/craft/composer.lock
/craft/.gitignore
/craft/craft.bat
/craft/sftp-config.json
/craft/LICENSE
/craft/web/assets
/craft/web/cpresources
/craft/web/.htaccess
/craft/web/index.php
/craft/web/web.config

/craft/craft

.gitkeep