{% extends "_layouts/main" %}

{% block main %}

<div id="container">
    {% if entry.heroImage.one() %}
    <div class="hero-image" style="background: url({{ entry.heroImage.one().getUrl() }}) no-repeat bottom; background-size: cover"></div>
    {% endif %}
    <section id="content">
        {% if entry.mainTitle %}
        <h1>{{ entry.mainTitle }}</h1>
        {% else %}
        <h1>{{ entry.title }}</h1>
        {% endif %}
        <p>{{  entry.pageCopy }}</p>
    </section>
</div>

{% endblock %}

