{% extends "_layouts/main" %}

{% block main %}

<div id="container" class="home" style="background-image: url(/assets/images/home.jpg); background-size: cover;">
    <div class="splash-logo" style="background: url( assets/images/logo_huertos_bco_ch2-2.png) no-repeat center; background-size: contain"></div>
    <!-- <div id="modal">
        <div id="main">
            <div class="content">
                <h1>Bienvenido a Huertos Narrativos</h1>
                <p>A very bad quack might jinx zippy fowls. Few quips galvanized the mock jury box. Quick brown dogs jump over the lazy fox. The jay, pig, fox, zebra, and my wolves quack! Blowzy red vixens fight for a quick jump. Joaquin Phoenix was gazed by MTV for luck. A wizard’s job is to vex chumps quickly in fog. Watch "Jeopardy!", Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just</p>
            </div>
        </div>
        <div id="aside">
            <div class="content">
                <h2>Historias recientes</h2>
                <ul>
                    {% for entry in craft.entries.section("historias").limit(5).all() %}
                    <li><a href="{{ entry.url }}">{{ entry.title }}</a><br><small>Algo por editar.</small></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div> -->
</div>

{% endblock %}